@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    text-align: center;
	line-height: 1.5;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0px;
    background: url("../../img/paisaje-fondo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*BARRA DE NAVEGACION*/
.encabezado{

    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    
}

.logo{
    position: relative;
}

.logo img{
    height: 88px;
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navegacion{
    position: relative;
}

.navegacion a{
    color: #fff;
    font-size: 26px;
    margin: 0 70px;
    transition: all .5s;
}

.navegacion a:hover{
    color: #e5be01;
}

.boton.contacto{
    position: relative;
    border: none;
    transition: all 0.3s;
}

.boton.contacto:hover{
    transform: scale(1.2);
}

.boton{
    padding: 15px 28px;
    background: #e5be01;
    border: 2px solid #e5be01;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 750;
}
/*BARRA DE NAVEGACION*/


.contenido{
    color: #fff;
    width: 100%;
    height: 100vh;
    background: url("../../img/paisaje-fondo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 0 0 6%;
    z-index: -1;
}


/*CONTENIDO PRINCIPAL*/

#encabezado{

color: white;
text-shadow: -2px 2px 6px rgb(167, 92, 185),
                 -7px -3px 15px rgb(187, 147, 36);
}


  #container{
    padding: 3%;

  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    margin-left: 2%;
    width: 30%;
    min-height: 300px;
    color: #000000;
    float: left;
  }


  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*, *:after, *:before {
	box-sizing: border-box;
}


img {
	width: 100%;
    height: 200px;
}

.stack {
	width: 85%;
	max-width: 400px;
	transition: .25s ease;
	&:hover {			
		transform: rotate(5deg);
		.card:before {
			transform: translatey(-2%) rotate(-4deg);
		}	
		.card:after {
			transform: translatey(2%) rotate(4deg);
		}
	}
}

.card {
	aspect-ratio: 3 / 2;
	border: 4px solid black;
	background-color: #e7dda7;
	position: relative;
	transition: .15s ease;
	cursor: pointer;
	padding: 5% 5% 15% 5%;
	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: 100%;
		border: 4px solid black;
		background-color: #e5be01;
		transform-origin: center center;
		z-index: -1;
		transition: .15s ease;
		top: 0;
		left: 0;
	}
	
	&:before {
		transform: translatey(-2%) rotate(-6deg);
	}
	
	&:after {
		transform: translatey(2%) rotate(6deg);
	}
	

	
}
	.image {
		width: 100%;
		border: 4px solid black;
		background-color: rgb(226, 236, 226);
		aspect-ratio: 1 / 1;
		position: relative;
	}

.browser-warning {
	margin-bottom: 4rem;
}

@supports (aspect-ratio: 1 / 1) {
	.browser-warning {
		display: none;
	}
}