@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;/*Sebas dice de poner esto en las propias etiquetas*/
    align-items: center;/*Sebas dice de poner esto en las propias etiquetas*/
    justify-content: center;/*Sebas dice de poner esto en las propias etiquetas*/
    background: #218C65;
}