@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/*BARRA DE NAVEGACION*/
.encabezado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    position: relative;
}

.logo img{
    height: 88px;
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navegacion{
    position: relative;
}

.navegacion a{
    font-size: 18px;
    color: #fff;
    font-size: 26px;
    margin: 0 70px;
    transition: all .5s;
}

.navegacion a:hover{
    color: #e5be01;
}

.boton.contacto{
    position: relative;
    border: none;
    transition: all 0.3s;
}

.boton.contacto:hover{
    transform: scale(1.2);
}
/*BARRA DE NAVEGACION*/

/*CONTENIDO PRINCIPAL*/
.contenido{
    color: #fff;
    width: 100%;
    height: 100vh;
    background: url("../../img/paisaje-fondo2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 0 0 6%;
    z-index: -1;
}

.contenido-principal{
    max-width: 670px;
}

.contenido-principal h1{
    position: relative;
    font-size: 45px;
    line-height: 1.2;
}

.contenido-principal h1:nth-child(1){
    background:linear-gradient(#ffff00,#b78700);
    -webkit-background-clip: text;
    color: transparent;
}

.contenido-principal p{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 30px;
}

.contenido-principal .boton-contenido{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
}

.contenido-principal .boton-contenido:hover{
    color: black;
}

.boton{
    padding: 15px 28px;
    background: #e5be01;
    border: 2px solid #e5be01;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 750;
}

.boton-contenido .boton:nth-child(2){
    background: transparent;
    color:#e5be01;
    transition: .5s;
    color: #fff;
}

.boton-contenido .boton:nth-child(2):hover{
    background: #e5be01;
}

.animacion{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: show-right 1s ease-out forwards;
    animation-delay: calc(.3s * var(--i));
}

.animacion.bg{
    animation: fade-in 1s ease-out forwards;
    animation-delay: 2.5s;
}

.contenido-principal .contenido2{
    max-width: 520px;
}

.contenido2{
    margin: 0px 0 0 690px;
}

.foto1{
    width: 950px;
    height: 630px;
}

@keyframes show-right{
    100%{
        width: 0;

    }
}

@keyframes fade-in{
    100%{
        opacity: 0;

    }
}
/*CONTENIDO PRINCIPAL*/

/*SEGUNDO CONTENIDO*/

.contenido3{
    background: url("../../img/fondo-amarillo2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    z-index: 2;
}

.contenido-secundario{
    display: flex;
    text-align: center;
    flex-flow: column;
    width: 650px;
    margin: 0 0 0 295px;
}

.contenido-secundario h1{
    font-size: 39px;
    margin: 0 0 30px 0;
}

.contenido-secundario p{
    font-size: 22px;
    font-weight: 700;
}

/*ESTO ES EL CALENDARIO*/
.calendario{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    height: 100%;
    color: white;
}

.caja3{
    margin: 0 0 0 220px;
    position: relative;
    height: 500px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 25px 4px rgba(0,0,0,0.5);
    border-radius: 20px;
}

.calendario .imagen-calendario{
    position: absolute;
    top: 0;
    right: 0;
}

.calendario .caja3 img{
    height: 500px;
    padding: 30px;
    border-radius: 60px;
}

.calendario .caja3 .datos{
    width: 400px;
    padding: 20px;
}

.calendario .caja3 .dias{
    display: flex;
    flex-wrap: wrap;
}

.calendario .caja3 h3{
    font-size: 30px;
    font-weight: 700;
    margin: 0 80px 10px;
}

.calendario .caja3 .dia-letra,
.caja3 .numero{
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.caja3 .numero-antes{
    height: 45px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bolder;
    color: #9c9c9c;
}

.caja3 .numero.activo{
    background: rgb(73,73,274);
    border-radius: 100px;
}
/*ESTO ES EL CALENDARIO*/

/*ANIMACION DEL SEGUNDO BLOQUE CON LA RUEDA DEL MOUSE*/

@keyframes show{

    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }

}

.calendario{
    view-timeline-name: --bloque;
    view-timeline-axis: block;

    animation-timeline: --bloque;
    animation-name: show;

    animation-range: entry 25% cover 42%;
    animation-fill-mode: both;
}

/*ANIMACION DEL SEGUNDO BLOQUE CON LA RUEDA DEL MOUSE*/
/*SEGUNDO CONTENIDO*/

/*TERCER CONTENIDO*/

.contenido4{
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("../../img/fondo2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.caja4{
    width: 2000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.caja4 .carta{
    position: relative;
    margin: 70px;
}
    
.caja4 .carta .face{
    width: 480px;
    height: 350px;
    transition: .4s;
}

.caja4 .carta .face.face1.uno{
    position: relative;
    background: url("../../img/gato-carta1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(250px);
}

.caja4 .carta .face.face1.dos{
    position: relative;
    background: url("../../img/gato-carta4.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(250px);
}

.caja4 .carta .face.face1.tres{
    position: relative;
    background: url("../../img/gato-carta3.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(250px);
}

.caja4 .carta:hover .face.face1{
    transform: translateY(0);
    box-shadow: inset 0 0 60px whitesmoke,
    inset 20px 0 80px #e5be01,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #e5be01,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #e5be01,
    10px 0 80px #0ff;
}

.caja4 .face.face1 .content i,h3{
    z-index: 4;
}

.caja4 .carta .face.face1 .content{
    transition:0.5s;
    text-align: center;
}

.caja4 .carta:hover .face.face1 .content{
    opacity: 1;
}

.caja4 .carta .face.face1 .content i{
    font-size: 3em;
    color: #fff;
    display: inline-block;
}

.caja4 .carta .face.face1 .content h3{
    font-size: 1em;
    color: #fff;
    text-align: center;
}

.caja4 .carta .face.face1 .content a{
    transition: .5s;
}
 
.caja4 .carta .face.face2{
    position: relative;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   box-sizing: border-box;
   box-shadow: 0 20px 50px rgba(0,0,0,.8);
   transform: translateY(-100px);
}

.caja4 .carta:hover .face.face2{
    transform: translateY(0);
}

.caja4 .carta .face.face2 .content p,a{
    font-size: 13pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.caja4 .carta .face.face2 .content a{
   color: black;
   box-sizing: border-box;
   outline : 1px dashed #333;
   padding: 10px;
   margin: 15px 0 0;
   display: inline-block;
}

.caja4 .cata .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  }

/*TERCER CONTENIDO*/