@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    text-align: center;
	line-height: 1.5;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0px;
    background: url("../../img/paisaje-fondo.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*BARRA DE NAVEGACION*/
.encabezado{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo{
    position: relative;
}

.logo img{
    height: 88px;
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.navegacion{
    position: relative;
}

.navegacion a{
    color: #fff;
    font-size: 26px;
    margin: 0 70px;
    transition: all .5s;
}

.navegacion a:hover{
    color: #e5be01;
}

.boton.contacto{
    position: relative;
    border: none;
    transition: all 0.3s;
}

.boton.contacto:hover{
    transform: scale(1.2);
}

.boton{
    padding: 15px 28px;
    background: #e5be01;
    border: 2px solid #e5be01;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    font-weight: 750;
}
/*FIN BARRA DE NAVEGACION*/





/*ESTO ES EL ENCABEZADO CON LA BARRA DE NAVEGACION*/
#Parraf{
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px 6px rgb(167, 92, 185),
                 -7px -3px 15px rgb(187, 147, 36);
    text-align: center;
    margin: 10px 10px 10px 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    font-weight: 600;
}



 /*cajas*/
 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; 
    border-radius: 5px; /* 5px rounded corners */
    margin: 15px 15px 15px 15px;
    width: 20%;
    float: left;
    margin-left: 10%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    background-color: azure;
    
  }
  
  img {
    border-radius: 10px 10px 5px 5px;
    width: 100%;

  }