@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgb(130, 106, 251);
}
.contenedor{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.contenedor header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}
.contenedor .form{
    margin-top: 30px;
}
.form .input-caja{
    width: 100%;
    margin-top: 20px;
}
.input-caja label{
    color: #333;
}
.form :where(.input-caja input, .select-caja){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.form .columna{
    display: flex;
    column-gap: 15px;

}
.form .genero-caja{
    margin-top: 20px;
}
.genero-caja h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.form :where(.genero-opcion, .genero){
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form .genero{
    column-gap: 5px;
}
.form :where(.genero input, .genero label){
    cursor: pointer;
}
.select-caja select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
}

/*Responsive*/
@media screen and (max-width: 500px){
    .form .columna{
        flex-wrap: wrap;
    }
    .form :where(.genero-opcion, .genero){
        row-gap: 15px;
    }
}
